@import url('../iconfont/iconfont.css');

:root {
  /* 字体颜色 */
  --tank-color: #d81e06;
  --span-color: #666;
  --tips-color: #fd397b;
  /* 背景颜色 */
  --bg-f8: #f8f8f8;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
p {
  line-height: 1.5;
  margin: 0;
}
.bor-rad12 {
  border-radius: 12px;
}
.bor-rad3 {
  border-radius: 3px;
}
.pad12 {
  padding: 12px;
}
.mb16 {
  margin-bottom: 16px;
}
